.chat-list-container {
  display: flex;
  flex-direction: column;
}
.chat-list-header {
  display: flex;
  justify-content: space-evenly;
  align-items: flex-end;
  background-color: #2a373c;
  padding: 4% 1% 0% 1%;
  color: #e5e5e5;
}
.chat-list-header > p:hover {
  font-size: 1.05em;
  font-weight: 500;
  color: white;
}
.chat-list-body {
  flex: 1;
}
