.container {
  display: flex;
  min-height: 90vh;
  justify-content: center;
}
.chat-list {
  max-width: 20%;
  flex: 1;
  background-color: #f2f2f2;
}
.chat-box {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  max-width: 50%;
  position: relative;
  flex: 1;
}
