.container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 40px;
}
.example-card {
  padding: 0;
  width: 800px;
  height: 750px;
}
.example-header-image {
  margin-left: 5px;
  margin-top: 3px;
  background-image: url("https://material.angular.io/assets/img/examples/shiba1.jpg");
  background-size: cover;
}
.example-card-body {
  overflow-x: hidden;
}
