.container {
  flex: 1;
  display: flex;
  min-height: 100%;
  min-width: 100%;
}
.chat-list {
  max-width: 20%;
  flex: 1;
  box-shadow: black 0px 3px 8px;
}
.chat-box {
  box-shadow: black 0px 3px 8px;
  flex: 1;
  display: flex;
  flex-direction: column;
}
message-container {
  flex: 1;
  position: relative;
  overflow-x: hidden;
  overflow-y: scroll;
}
