.message-sender {
  position: absolute;
  width: 100%;
  bottom: 0px;
  display: flex;
  justify-content: center;
  align-items: baseline;
  background-color: #ededed;
}
.message-sender > textarea {
  flex: 1;
  background-color: inherit;
  border: none;
}
.message-sender > textarea:focus {
  outline: none;
}
mat-icon {
  color: #455a64;
}
