.message-sender {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ededed;
}
.message-sender > textarea {
  flex: 1;
  background-color: inherit;
  border: none;
}
.message-sender > textarea:focus {
  outline: none;
}
.message-sender > button {
  font-size: 20px;
  color: #075e54;
}
