.message-container {
  position: absolute;
  background-color: #1f292d;
  display: flex;
  flex-direction: column;
  padding: 0.35% 0.5% 0.35% 0.5%;
}
.message-container > * {
  margin: 0.1%;
}
.message-incoming {
  align-self: flex-start;
  position: relative;
  max-width: 40%;
  min-width: 5%;
  padding: 0.5% 2% 1% 0.75%;
  background-color: #34454b;
  text-align: left;
  font: 400 1em "Open Sans", sans-serif;
  border-radius: 6px;
  color: #e5e5e5;
}
.message-outgoing {
  align-self: flex-end;
  position: relative;
  max-width: 40%;
  min-width: 5%;
  padding: 0.5% 2% 1% 0.75%;
  background-color: #075e54;
  text-align: left;
  font: 400 1.08em "Open Sans", sans-serif;
  border-radius: 6px;
  color: #e5e5e5;
}
.message-info {
  position: absolute;
  display: flex;
  justify-content: flex-end;
  bottom: 1%;
  right: 1%;
  font-size: 0.8em;
  font-weight: 300;
}
.message-timestamp {
  padding-right: 5px;
}
