.message-container {
  background-color: #1f292d;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  padding: 1%;
}
.message-incoming {
  align-self: flex-start;
  position: relative;
  max-width: 40%;
  min-width: 5%;
  padding: 1% 4% 2% 1.5%;
  background-color: white;
  text-align: left;
  font: 400 0.9em "Open Sans", sans-serif;
  border-radius: 10px;
}
.message-outgoing {
  align-self: flex-end;
  position: relative;
  max-width: 40%;
  min-width: 5%;
  padding: 1% 4% 2% 1.5%;
  background-color: #dcf8c6;
  text-align: left;
  font: 400 0.9em "Open Sans", sans-serif;
  border-radius: 10px;
}
.message-incoming:before {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border-top: 15px solid white;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  top: 0;
  left: -5px;
}
.message-outgoing:before {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border-top: 15px solid #dcf8c6;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  top: 0;
  right: -5px;
}
.message-timestamp {
  position: absolute;
  font-size: 0.85em;
  font-weight: 300;
  bottom: 5px;
  right: 5px;
}
